<nav class="navbar col-sm-10" id="top-nav-bar">
  <div id="nav-bar" class="nav navbar-nav navbar-right font-oswald" data-hook>
    <%= link_to 'ABOUT MAGMA', 'http://www.magmaconf.com/about', target: '_blank' %> <span class="separator">|</span>
    <%= link_to 'CONTACT US', 'mailto:info@magmaconf.com', target: '_blank' %> <span class="separator">|</span>
    <%= link_to 'BLOG', '#' %> <span class="separator">|</span>
    <%= link_to 'STORE', '/', class: 'active'  %>
  </div>
</nav>